doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container-fluid
      h1 Kingdom Hearts Final Mix 1.5 Synthesis Calculator

      block content