doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container-fluid
      div.jumbotron
        div.container
          h1.display-5 Kingdom Hearts Final Mix 1.5 Synthesis Calculator

      block content